{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="static/css/main.css">
{% endblock head %}

{% block body%}
<div class="wrapper">
    <img src="https://github.com/will-mcintyre04/flask-practice/assets/78566536/2aa7439b-19c7-49b9-aedf-89497e9acf96" style="width: 200px;" alt="Mindfuel">
    <div class="header">
        <h1>Looking for a Daily Pickup?</h1>
    </div>
    <div class="text">
        <p>Mindfuel sends inspirational quotes to subscribers daily. That's it. A minimalistic, sleek design and thoughtfulness to start your day off on the right note.</p>
    </div>

    <!-- Display success message if 'success' is present in the URL parameters -->
    {% if success %}
    <div class="alert alert-success">
        <strong>Success:</strong> Thank you for subscribing!
    </div>
    {% else %}
    <form class="container" action="{{url_for('main.add_email')}}" method="POST">
        <input type="email" class="text-box" name="address" id="emailInput" placeholder="Enter an email..." required>
        <button type="submit" class="submit-button" id="submitButton">Submit</button>
    </form>
    {% endif %}
</div>
{% endblock body%}